/*@import url("~/month.component.css");*/
.btn {
    font-size: 18;
}
.ram{
   background-color: red; 
}
Page {
  background-color: white;
  font-size: 15;
}
TextField {
  padding: 10;
  font-size: 13;
}
@import 'nativescript-theme-core/css/core.light.css';
#side-menu{
    width: 265px;
    height: 100%;
    z-index: 1000;
    /*background-color: red;*/
}
#side-content{
    width:250px;
    height: 100%;
    margin-right: 15px;
    background-color: white;
}
.hour-btn{
    height: 48px;
    color: #e7e7e7;
    text-align: center;
    padding-top: 13;
    border-left-color: #e7e7e7;
    border-width: 1px;
}
.attachment-btn{
    padding-top: 4;
    border-radius: 10px;
    font-size: 10px;
}
.new-attach{
    background-color: #2196F3;
    padding: 8;
    color: white;
    font-size: 20px;
    border-radius: 8px;
}
.day{
	height: 60px;
    text-align: center;
}
.day-week{
    text-align: center;
    padding: 10;
}
#da{
    width: 100%;
    height: 100%;
}
.border{
    height: 1px;
    background-color:#ddd;
    margin-bottom:10px;
    width: 100%;
}
.left-btn{
	border-radius: 10px 12px 12px 25px;
	width: 30%;
}
.right-btn{
	border-radius: 12px 10px 25px 12px;
	width: 30%;
}
.center-btn{
	border-radius: 12px;
	width: 30%;
}
.inactive{
	color:#b7b7b7;
	/*background: linear-gradient(to top, #e8e8e8, #FFF);*/
}
/*modal window*/
#modal{
    background-color:white;
    border-radius:10;
    width:90%;
    height:90%;
}
#map-modal{
    background-color:white;
    border-radius:10;
    width:86%;
    height:86%;
}
#date{
    border-radius: 25px;
    background-color:white;
}
.selected{
	width:25px;
	height:25px;
    border-radius: 25px;
    border-color: #e7e7e7;
	border-width:1px;
}
.color{
	width:23px;
	height:23px;
	border-radius: 25px;
	border-color: white;
	border-width:3px;
}
.google-place{
    background-color: white;
    border-bottom-color: #e7e7e7;
	border-width:1px;
    margin-left: 5px;
    margin-right: 5px;
    height: 60px; 
}