<StackLayout row  ="0" col="0" class="layout" id="modal">
    <Label class="h3 m-15 text-center " text="New Appointment" textWrap="true"></Label>
    <Label class="hr-light"></Label>
    <GridLayout class="m-x-auto m-t-15" rows="30 30 60 30 60 30 50" columns="150 150">
        <Label row="0" col="0" text="From:"></Label>
        <label id="from" row="0" col="1" (tap)="time()"></label  >
        <Label row="1"   col="0" text="To:"></Label>
        <Label id="to"   row="1" col="1" (tap)="time()"></Label >
        <Label row="2" col="0" text="Appointment's Name" class="m-t-25"></Label>
        <TextView  row="3" col="0" [(ngModel)]='name'></TextView>
        <Label row="4" col="0" text="Appointment's Location" class="m-t-25"></Label>
        <TextView  row="5" col="0" [(ngModel)]='name' (tap)="map()"></TextView >
        <GridLayout row="6" class="m-t-15" columns="30,30,30,30,30">
            <label row="0" col="0" class="selected" #start
            style="background-color: #0275d8" (tap)="Color($event)"></label>
            <label row="0" col="1" class="color" 
            style="background-color: #5cb85c" (tap)="Color($event)"></label>
            <label row="0" col="2" class="color" 
            style="background-color: #dc2127" (tap)="Color($event)"></label>
            <label row="0" col="3" class="color" 
            style="background-color: #9c27b0" (tap)="Color($event)"></label>
            <label row="0" col="4" class="color" 
            style="background-color: #ffc107" (tap)="Color($event)"></label>
        </GridLayout>
    </GridLayout>
    <button text="submit" (tap)="submit()"></button>
</StackLayout>