<GridLayout columns="*,*,*" rows="*,*,*,*" id="year">
	<label col="0" row="0" [nsRouterLink]="['/month/1']" style="background-image:res://january" class="day"></label>
	<Label col="1" row="0" [nsRouterLink]="['/month/2']" style="background-image:res://february" class="day"></Label>
	<Label col="2" row="0" [nsRouterLink]="['/month/3']" style="background-image:res://march" class="day"></Label>
	
	<Label col="0" row="1" [nsRouterLink]="['/month/4']" style="background-image:res://april" class="day"></Label>
	<Label col="1" row="1" [nsRouterLink]="['/month/5']" style="background-image:res://may" class="day"></Label>
	<Label col="2" row="1" [nsRouterLink]="['/month/6']" style="background-image:res://june" class="day"></Label>

	<Label col="0" row="2" [nsRouterLink]="['/month/7']" style="background-image:res://july" class="day"></Label>
	<Label col="1" row="2" [nsRouterLink]="['/month/8']" style="background-image:res://august" class="day"></Label>
	<Label col="2" row="2" [nsRouterLink]="['/month/9']" style="background-image:res://september" class="day"></Label>

	<Label col="0" row="3" [nsRouterLink]="['/month/10']" style="background-image:res://october" class="day"></Label>
	<Label col="1" row="3" [nsRouterLink]="['/month/11']" style="background-image:res://november" class="day"></Label>
	<Label col="2" row="3" [nsRouterLink]="['/month/12']" style="background-image:res://december" class="day"></Label>
</GridLayout>

